# The .env file stores environment-specific variables for your application. These variables are typically used to configure the application, such as API keys, database credentials, or other sensitive information.

PORT = ####
MONGODB_URL = mongodb+srv://username012:<db_password>@cluster0.jfqdd.mongodb.net


# Issue with Credentials in MONGODB_URL
#   - Password Issue: Avoid using special characters like @ directly in the password. These need to be URI-encoded.
#   - The @ symbol must be replaced with %40 to ensure the connection string works correctly.
#   - Example: Replace user@88734 with user%4088734